h1 {
    color: #E5E5E5;
}

body {
    background-color: #0d0c0c; 
    text-align: center;
    color: #E5E5E5;
}

nav a{
    color:#6c3737;
    display: inline-flex;
    position: sticky;
    top: 0px;
    align-items: center;
    min-height: 6vh;
    margin-left: 10px ;
    margin-right: 10px;
}

button {
    margin-top: 5%;
    margin-left: 5%;
}

p {
    color: #989090;
}

a {
    text-decoration: none;
    color:#989090;
    text-shadow: 1px 1px 2px rgb(115, 80, 80), 0 0 25px rgb(158, 158, 240), 0 0 5px rgb(237, 237, 251);

}
a:hover {
    color: white;
}
.homepage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 300px;
    margin-top: 10%;
}

.hp1 {
    text-align:-webkit-left;
    margin-left:15%;
    margin-top: 30%;
}

.hp {
    text-align:-webkit-right;
    margin-right:15%;
}

div img {
    border-radius: 2%;
}

.tasksh1 {
    margin-top: 5%;
    font-size: larger;
    color: transparent;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #6e4f4f, #bc6b6b, #61809c, #96619c, #9c6161, #659c61, #9c9661, #9c7461);
    background-clip: text;
    animation: animate 20s linear infinite;
    background-size: 1000%;;
}
@keyframes animate
{
    0% {
        background-position: 0% 100%;
    }
    30% {
        background-position: 100% 0%;
    }
    60% {
        background-position: 0% 100%;
    }
}
.tasksTitle {
    display: grid;
    grid-template-columns: repeat(5, 4fr);
    grid-auto-rows: 30px;
    margin-top: 5%;
    text-align: -webkit-left;
    margin-left: 5%;
    font-size:large;
    color:#989090;
}
.tasks {
    display: grid;
    grid-template-columns: repeat(5, 4fr);
    grid-auto-rows: 30px;
    margin-top: 10%;
    text-align: -webkit-left;
    margin-left: 5%;
    margin-bottom: 10%;
}