h1 {
    color: #E5E5E5;
}

body {
    background-color: #0d0c0c; 
    text-align: center;
    color: #E5E5E5;
}

nav a{
    color:#6c3737;
    display: inline-flex;
    position: sticky;
    top: 0px;
    align-items: center;
    min-height: 6vh;
    margin-left: 10px ;
    margin-right: 10px;
}
p {
    color: #989090;
}

a {
    text-decoration: none;
    color:#989090;
    text-shadow: 1px 1px 2px rgb(115, 80, 80), 0 0 25px rgb(158, 158, 240), 0 0 5px rgb(237, 237, 251);

}
a:hover {
    color: white;
}
.homepage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 300px;
    margin-top: 10%;
}