{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
    <script defer src="{% static 'scripts/app.js' %}"></script>
    
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <nav>
        {% if user.is_authenticated %}
        <a href="/user/{{user.username}}">Hello, {{user.username}}!</a>
        <span> | </span>
        <a href="/accounts/logout">Logout</a>
        <span> | </span>
        {% else %}
        <span><a href="{% url 'login' %}">Login</a></span>
        <span> | </span>
        <span><a href="{% url 'signup' %}">SignUp</a></span>
        <span> | </span>
        {% endif %}
        <a href="/">Home</a>
        <span> | </span>
        <a href="/tasks">All tasks</a>
        <span> | </span>
        <a href="/admin">Admin</a>
        <span> | </span>
        <a href="/tasks/new">Add Task</a>
    </nav>
    {% block nav %}  
    {% endblock %}
    {% block content %}  
    <p>Content black</p>
    {% endblock %}
</body>
</html>