{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block nav %}  
{% endblock %}

{% block content %}  
    <h1>Tasks:</h1>
    {% for task in tasks %}
    <a href="{% url 'taskDetail' task.pk %}">
        <h3>Title: {{task.title}}</h3>
    </a>
    <h3>Categories:</h3>
        <ul>{% for category in task.categories.all%}
            <li>{{category.categories}}</li>
        {% endfor %}
        </ul>
    <h3>Discription: {{task.discription}}</h3>
    <h3>By: {{task.date_time}}</h3>
    <h3>Completed: {{task.complete}}</h3>
    {% endfor %}
{% endblock %}
