{% extends 'base.html' %} 
{% block content %}  
<h1>heloo</h1>
    <h1>{{Task.title}}</h1>
<div>
    <h3>Title: {{task.title}}</h3>
    <h3>Categories:</h3>
        <ul>{% for category in task.categories.all%}
            <li>{{category.categories}}</li>
        {% endfor %}
        </ul>
    <h3>Discription: {{task.discription}}</h3>
    <h3>By: {{task.date_time}}</h3>
    <h3>Completed: {{task.complete}}</h3>
</div>
<div>
    <a href="{% url 'taskUpdate' task.pk %}">Edit Task</a>
    <a href="{% url 'taskDelete' task.pk %}">Delete Task</a>
</div>
{% endblock %}